
* {
    font-family:'Roboto', sans-serif;
}

a:hover {
    color: red;
    font-weight: bold;
}

/* .link-red {
    color: #fd0002;
    font-weight: bold;
    text-decoration: none;
    background-color: #fd0002;
} */

.color-red {
    color: #fd0002;
    
    text-decoration: none;
}

.img_ctt {
    width: 400px;
    height: 500px;
}

input, 
select, 
textarea {
    border: solid 1px red;
    margin-left:auto;
}

textarea {
    width: 100vh;
}


.btn_form {
    background-color: red;
    border: none;
    color: white;
    justify-content: end;
    text-align: center;
    margin-right: 250px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}