
* {
    font-family:'Roboto', sans-serif;
}

a:hover {
    color: red;
    font-weight: bold;
}

/* .link-red {
    color: #fd0002;
    font-weight: bold;
    text-decoration: none;
    background-color: #fd0002;
} */

.color-red {
    color: #fd0002;
    
    text-decoration: none;
}

.img_ctt {
    background-image: url(../img/img-contato.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
}

.div_form{
    width: 100%;
    height: 90vh;
}

input, 
select, 
textarea {
    border: solid 1px red;
    margin-left:auto;
}

textarea {
    max-width: 100vw;
    width: 80%;
}


.btn_form {
    background-color: red;
    border: none;
    color: white;
    justify-content: end;
    text-align: center;
    margin-right: 20px;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}