* {
    font-family: 'Roboto', sans-serif;
}

 /* nav css */
 a:hover {
    color: red;
    font-weight: bold;
}

.color-red {
    color: #fd0002;   
    text-decoration: none;
}

.icon-size {
    height: 5vh;
}

#menu-mobile {
    display: none;
}

.img_ctt {
    background-image: url(../img/img-contato.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.div_form {
    width: 100%;
    height: 90vh;
    margin-top: 40px;
    margin-left: 80px;
    margin-right:30px;
}

input,
select,
textarea {
    border: solid 1px red;
    margin-left: auto;
    margin-bottom: 15px;
}

textarea {
    width: 100%;
}


.btn_form {
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    margin-right: 40px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}

.div_msg label {
    max-width: 95vw;
    width: 95%;
}

.div_midias {
    display: none;
}

/* .div_tel {
    

} */

@media (max-width: 775px) {
    #menu-mobile {
        display: flex;
    }

    #menu-desktop {
        display: none;
    }

    .img_ctt {
        background-image: url(../img/img-contato.jpeg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center center;
        width: 100%;
        max-width: 100vw;
        background-size: cover;
        height: 50vh;
    }

    h1 {
        display:flex;
        align-items: center;
    }

    .div_form {
        height: 85vh;
        display:flex;
        justify-content: center;
        align-items: center;
        /* margin-left: 15px;
        margin-top:10px; */
    }
    
    textarea {
        width: 80%;
        height: 90%
    }

    .div_msg label {
        max-width: 80vw;
        width: 80%;
    }


    .div_btn {
        max-width: 50vw;
        width: 50%;
        justify-content: center;
        margin-bottom: 15px;
    }

    .btn_form {
        background-color: red;
        border: none;
        color: white;
        text-align: center;
        margin-right: 44px;
        padding-bottom: 5px;
        padding-right: 81px;
        font-size: 15px;
    }

    .btn_form:hover {
        opacity: 70%;
    }

    .div_midias{
        display: flex;
        justify-content: space-evenly;
        margin-top: 40px;
        margin-bottom: 25px;
    }

}