/* design font  */
* {
    font-family:'Roboto', sans-serif;
}
 /* nav css */
a:hover {
    color: red;
    font-weight: bold;
}

.color-red {
    color: #fd0002;   
    text-decoration: none;
}

.icon-size {
    height: 5vh;
}

#menu-mobile {
    display: none;
}
/* header & body css */
body {
    background-image: url(../img/imagem-home.jpeg);
    background-color: #740ca5;
    background-repeat: no-repeat;
    background-position: 50% 10vh; 
    background-size: contain;
}
.header-size {
    width: 100%;
    height: 90vh;
    text-align: center;        
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    }

.bg-opacity {
    background-color: rgba(255, 255, 255, 0.6);
}
    
/* nav responsiva */
@media screen and (max-width: 775px) {
    #menu-mobile {
        display: flex;
    }
    #menu-desktop {
        display: none;
    }
}